<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <script src="/js/jquery-2.1.1.min.js"></script>
    <script type="text/javascript">

        $(function () {
            //之前是在服务器操作cookie  现在在浏览器操作cookie


            var str = document.cookie.split(";")
            //获取key为user_pwd的值
            $.each(str, function (index, obj) {
                //console.log(obj)
                var st = obj.split("=")
                ///console.log(st[0])
                if (st[0].trim() == "user_pwd") {
                    console.log(st[1])
                    st[1].split("qweqwsdasdasdasdajk1sass807jk")
                }
            });

        })

        function to_submit() {

            $.ajax({
                url: "/user/login",
                type: "POST",
                data: $("#login_form").serialize(),
                success: function (result) {
                    if (result == 1) {
                        window.location.href = "/user/toView?viewName=index";
                    } else {
                        alert("失败 ")
                    }
                },
                error: function () {
                    alert("ajax访问失败了,查看控制台");
                }
            });
        }

    </script>

</head>
<body>
<div class="up">
    <img src="/images/logo.jpg" height="45px;" class="hy_img">
    <div class="hy">
        欢迎登录
    </div>
</div>
<div class="middle">
    <div class="login">
        <div class="l1 ">
            <div class="l1_font_01 ">硅谷会员</div>
            <a class="l1_font_02 " href="&lt;%=application.getContextPath() %&gt;/to_regist.action">用户注册</a>
        </div>
        <div class="blank_01"></div>
        <div class="ts" style="color: red">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
        <div class="blank_01"></div>
        <form id="login_form" method="post">
            <div class="input1">
                <input th:value="${username}" type="text" class="input1_01" name="loginacct">
            </div>
            <div class="blank_01"></div>
            <div class="blank_01"></div>
            <div class="input2">
                <input th:value="${password}" type="text" class="input1_01" name="userpswd">
            </div>

            <div class="blank_01"></div>
            <div class="blank_01"></div>
            <div class="box_01">
                <input th:checked="${password}==null?'false':'checked'" type="checkbox" name="remePwd"
                       class="box_01_box">
                <div class="box_01_both">
                    <div class="box_01_both_1">记住密码</div>
                    <div class="box_01_both_2">忘记密码？</div>
                </div>
            </div>
        </form>
        <div class="blank_01"></div>
        <a href="#" class="aline">
            <div class="red_button" onclick="to_submit()">
                登&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;录
            </div>
        </a>
        <div class="blank_01"></div>
        <div class="blank_01"></div>
        <div class="box_down">
            <div class="box_down_1">使用合作网站账号登录京东：</div>
            <div class="box_down_1">京东钱包&nbsp;&nbsp;|&nbsp;&nbsp;QQ
                &nbsp;&nbsp;|&nbsp;&nbsp;微信
            </div>
        </div>
    </div>
</div>

<div class="down">
    <br>
    Copyright©2004-2015 xu.jb.com 版权所有
</div>


</body>
</html>